{% extends 'padres/base2.html' %}

{% block title_pagina %}
<title>Sobre nosotros</title>
{% endblock title_pagina %}

{% block mi_contenido %}
<h2 style="color:#0d6efd;">Sobre Selene Orlando</h2>
<p>
    Mi nombre es Selene Orlando, tengo 20 años y estudió conservacion y restauracion de arte en la Universidad Nacional de las Artes.<br> 
    Soy un apasionada del arte y las ciencias esactas. <br>  
    En la secundiaria estudie programacion y este año decidí retomar, ya que creo que es una muy buena herramienta para el futuro.<br>
    Espero que les guste.<br>

</p>
{% endblock mi_contenido %}